<div class="text-center jumbotron">
  <form style="max-width: 400px; margin: 0 auto;" action="/api/prediction" method="post" enctype="multipart/form-data">
    <h1 class="h3 mb-3 font-weight-normal">Upload the food image</h1>
    <br>
    <br>
    <br>
    <label for="inputEmail" class="sr-only">Image File</label>
    <input type="file" id="file/" class="form-group form-control-file" name="image">
    <button class="form-group btn btn-lg btn-success btn-block" type="submit">submit</button>
  </form>
</div>